@use 'variables' as v;
@use 'mixins' as m;
html {
  font-size: 62.5%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: v.$fuenteParrafos;
  color: v.$blanco;
  height: 100vh;
  background-color: v.$gris;
  &.fijar-body {
    overflow: hidden;
  }
}

.principal {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  @include m.tablet {
    justify-content: space-between;
    align-items: center;
  }
}

p {
  text-transform: uppercase;
  line-height: 1.5;
}

a {
  text-decoration: none;
}

h1,
h2,
h3 {
  margin: 0 0 3rem 0;
}

h1 {
  font: size 4rem;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 3rem;
}

img {
  max-width: 100%;
  width: 100%;
  height: auto;
  display: block;
}