@use "variables" as v;
@mixin telefono() {
  @media (min-width: v.$telefono) {
    @content;
  }
}

@mixin tablet() {
  @media (min-width: v.$tablet) {
    @content;
  }
}

@mixin desktop() {
  @media (min-width: v.$desktop) {
    @content;
  }
}

@mixin desktopXL() {
  @media (min-width: v.$desktopXL) {
    @content;
  }
}

@mixin grid($columnas, $espaciado) {
  display: grid;
  grid-template-columns: repeat($columnas, 1fr);
  gap: $espaciado;
}

@mixin redes($ancho, $alto, $texto) {
  background-color: v.$rojo;
  border-radius: 5px;
  width: $ancho;
  height: $alto;
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  img {
    padding: 10px;
    position: relative;
  }
  a {
    opacity: 0;
  }
  &:hover {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    transition: all 0.5s;
    img {
      transition: all 0.5s;
      position: relative;
      width: 39px;
      height: 39px;
    }
    a {
      padding: 7px;
      transition: opacity 0.6s ease-in-out;
      opacity: 1;
      font-weight: 600;
      font-size: $texto;
      color: v.$blanco;
      display: inline-block;
    }
  }
}

@mixin redes-inferior($ancho, $alto) {
  background-color: v.$rojo;
  border-radius: 5px;
  width: $ancho;
  height: $alto;
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  img {
    padding: 10px;
    position: relative;
  }
  // &:hover {
  //   background-color: v.$rojo-opaco_oscuro;
  // }
}

// @mixin fondos{
// }
@mixin foto-inicio($margin, $ancho, $alto, $b-position) {
  margin: $margin;
  width: $ancho;
  height: $alto;
  display: flex;
  position: relative;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: $b-position;
}

@mixin bullets($column, $row) {
  justify-self: center;
  width: 9px;
  height: 9px;
  background-color: v.$rojo;
  border-radius: 5px;
  grid-column: $column;
  grid-row: $row;
  margin: 0.7rem 0;
}

@mixin text-grid($column, $row) {
  grid-column: $column;
  grid-row: $row;
  p {
    font-size: 1.5rem;
  }
  span {
    color: v.$rojo;
    font-size: 1.5rem;
  }
}

@mixin intereses {
  width: 60px;
  height: 60px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
