// Tipografia
$fuenteHeading: "Oswald";
$fuenteParrafos: "Oswald";
//Colores
$rojo: #eb282b;
$negro: #000000;
$blanco: #fff;
$negro-opaco: #00000078;
$negro-opaco_oscuro: #000000ce;
$rojo-opaco_oscuro: #eb282bb9;
$gris: #5f5f5f;
//Tamaños de media queries
$telefono: 480px;
$tablet: 768px;
$desktop: 992px;
$desktopXL: 1200px;
//
