@use "base/variables" as v;
@use "base/mixins" as m;
.fondo {
  z-index: -1;
  position: absolute;
  .fondo-img {
    width: 100vw;
  }
}

.fondo-img_principal {
  z-index: 1;
  width: 100vw;
  height: 100vh;
  background-size: cover;
  position: absolute;
  background-image: url("../../img/fondo.jpg");
}

.fondo-img_estrellas {
  z-index: 2;
  width: 120%;
  height: 500px;
  position: relative;
  background-repeat: repeat;
  background-image: url("../../img/fondo-estrellas.png");
  animation: fondo_estrellas 80s ease infinite;
  @keyframes fondo_estrellas {
    0% {
      opacity: 2%;
      right: 0%;
    }
    50% {
      opacity: 100%;
      right: 20%;
    }
    100% {
      opacity: 2%;
      right: 0%;
    }
  }
}

.fondo-img_montaña {
  z-index: 3;
  opacity: 1;
  width: 100vw;
  height: 100vh;
  position: absolute;
  background-size: cover;
  background-image: url("../../img/fondo-montana.png");
}