@use "base/variables" as v;
@use "base/mixins" as m;
//habilidades-------------
.contenedor-habilidades-caja {
  @include m.tablet {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
  }
}

//habilidades------------- UNO
.contenedor-habilidades_uno {
  margin-bottom: 1rem;
  @include m.tablet {
    width: 95%;
  }
  @include m.desktop {
    width: 100%;
  }
}

//habilidades------------- LOGOS
.habilidades-logos {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-gap: 1rem;
  .habilidades-iconos {
    display: grid;
    grid-gap: 0.7rem;
    img {
      height: 27px;
    }
  }
  @include m.tablet {
    height: 100%;
    grid-gap: 1rem;
    .habilidades-iconos {
      width: 35px;
      grid-gap: 1rem;
      align-items: center;
      img {
        height: 34px;
      }
    }
  }
  @include m.desktop {
    height: 100%;
    .habilidades-iconos {
      width: 45px;
      grid-gap: 1.5rem;
      align-items: center;
      img {
        height: 45px;
      }
    }
  }
}

@keyframes load {
  0% {
    stroke-dashoffset: 0
  }
}

//habilidades------------- CIRCULO PROGRESO
.progress-container {
  position: relative;
  display: grid;
  justify-content: space-between;
  grid-gap: 0.7rem;
  align-items: center;
  @include m.tablet {
    position: relative;
    justify-content: space-between;
    grid-gap: 1rem;
    align-items: center;
    .contenedor-textProgress {
      .text-progress {
        width: 3.5rem;
        height: 3.5rem;
        font-size: 1.5rem;
        justify-content: center;
        align-items: center;
        position: absolute;
      }
      svg {
        width: 3.5rem;
        height: 3.5rem;
        &:nth-child(2) {
          stroke: v.$rojo;
          position: relative;
          left: 0;
          top: 0;
          transform: rotate(-90deg);
        }
      }
    }
  }
  @include m.desktop {
    position: relative;
    justify-content: space-between;
    grid-gap: 1.5rem;
    align-items: center;
    .contenedor-textProgress {
      .text-progress {
        width: 4.5rem;
        height: 4.5rem;
        font-size: 2rem;
        justify-content: center;
        align-items: center;
        position: absolute;
        &:after {
          font-size: 1.5rem;
        }
      }
      svg {
        width: 4.5rem;
        height: 4.5rem;
        &:nth-child(2) {
          stroke: v.$rojo;
          position: relative;
          left: 0;
          top: 0;
          transform: rotate(-90deg);
        }
      }
    }
  }
}

//habilidades------------- CIRCULO PROGRESO TEXTO
.contenedor-textProgress {
  display: block;
  .text-progress {
    height: 3rem;
    width: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    color: v.$blanco;
    font-weight: 500;
    &:after {
      content: attr(data-percent);
      position: absolute;
      font-size: 1rem;
      align-items: center;
    }
  }
  svg {
    width: 3rem;
    height: 3rem;
    &:nth-child(2) {
      stroke: v.$rojo;
      position: relative;
      left: 0;
      top: 0;
      transform: rotate(-90deg);
    }
    &:nth-child(2) path {
      fill: none;
      stroke-width: 25;
      stroke-dasharray: 629;
      opacity: .9;
      animation: load 4s;
    }
  }
}

//habilidades------------- DOS
.contenedor-habilidades_dos {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-gap: 1.2rem;
  .habilidades-texto {
    display: grid;
    margin: 0 auto;
    width: 70%;
    p {
      font-size: 1.2rem;
      font-weight: 500;
      line-height: 1.6rem;
    }
  }
  @include m.tablet {
    .habilidades-texto {
      margin: 0;
      p {
        font-size: 1.6rem;
        line-height: 3rem;
      }
    }
    .habilidades-skills {
      .skills-barras {
        width: 100%;
        height: 100%;
        display: grid;
        align-items: center;
        .barra {
          width: 100%;
          width: 90%;
          height: 6px;
          border-radius: 2px;
          .progress {
            height: 6px;
          }
        }
        .progress {
          background-color: v.$blanco;
          width: 100%;
          height: 8px;
          border-radius: 4px;
        }
      }
    }
  }
  @include m.desktop {
    .habilidades-texto {
      margin: 0;
      justify-content: space-between;
      height: 100%;
      align-items: center;
      p {
        font-size: 2.4rem;
        line-height: 3rem;
      }
    }
    .habilidades-skills {
      .skills-barras {
        width: 100%;
        height: 100%;
        display: grid;
        align-items: center;
        .barra {
          width: 100%;
          width: 90%;
          height: 8px;
          border-radius: 2px;
          .progress {
            height: 8px;
          }
        }
        .progress {
          background-color: v.$blanco;
          width: 100%;
          height: 10px;
          border-radius: 4px;
        }
      }
    }
  }
}

.habilidades-skills {
  .skills-barras {
    width: 80%;
    height: 100%;
    display: grid;
    align-items: center;
    .barra {
      background-color: v.$blanco;
      width: 90%;
      height: 4px;
      border-radius: 2px;
      position: relative;
      box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
      .progress {
        width: var(--w);
        height: 4px;
        background-color: v.$rojo;
        border-radius: 2px;
        animation: carga 3s ease;
      }
      @keyframes carga {
        0% {
          width: 0%;
        }
        100% {
          width: var(--w);
        }
      }
    }
  }
}