@use "base/variables" as v;
@use "base/mixins" as m;

.contenedor-intereses {
  display: flex;
  flex-wrap: wrap;
  margin: 1.5rem 0;
  @include m.desktop {
    position: relative;
    width: 100%;
    display: flex;
    place-self: center stretch;
  }
}

.intereses-contenedor {
  width: 100%;
  height: 100%;
  margin-top: 10px;
  justify-content: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-self: center stretch;
  gap: 20px 0px;
  p {
    text-align: center;
    font-size: 2rem;
  }
  .intereses-lenguajes {
    @include m.intereses(65px);
    background-image: url("../../img/iconos-intereses/lenguajes.svg");
  }
  .intereses-ejercicio {
    @include m.intereses(65px);
    background-image: url("../../img/iconos-intereses/ejercicio.svg");
  }
  .intereses-cursos {
    @include m.intereses(60px);
    background-image: url("../../img/iconos-intereses/cursos.svg");
  }
  .intereses-arte {
    @include m.intereses(65px);
    background-image: url("../../img/iconos-intereses/arte.svg");
  }
  @include m.desktopXL {
    width: 100%;
    gap: 20px 0px;
    p {
      font-size: 3rem;
    }
    .intereses-lenguajes {
      @include m.intereses(85px);
    }
    .intereses-ejercicio {
      @include m.intereses(85px);
    }
    .intereses-cursos {
      @include m.intereses(80px);
    }
    .intereses-arte {
      @include m.intereses(85px);
    }
  }
}
