@use "base/variables" as v;
@use "base/mixins" as m;
.contenedor-main {
  width: 90%;
  padding: 3rem;
  position: relative;
  top: -35px;
  margin: 2rem;
  max-height: 90%;
  background-color: v.$negro-opaco;
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
  border-radius: 10px;
  color: v.$blanco;
  padding: 2.5rem;
  .contenedor-main_interno {
    display: flex;
    flex-direction: column;
  }
  p {
    margin: 0;
    font-size: 1.7rem;
    font-weight: 500;
  }
  h2 {
    font-size: 2.8rem;
    padding: 3px;
  }
  @include m.tablet {
    top: 0;
    width: 65%;
    display: block;
    padding: 3.2rem;
    p {
      font-size: 2rem;
      text-transform: uppercase;
      line-height: 1.5;
    }
  }
  @include m.desktop {
    p {
      font-size: 2.1rem;
      text-transform: uppercase;
    }
  }
  @include m.desktopXL {
    padding: 4rem;
    p {
      font-size: 2.6rem;
      text-transform: uppercase;
    }
  }
}

.perfil {
  display: flex;
  img {
    position: relative;
    margin-top: 5px;
    width: 40px;
    height: 40px;
  }
  h2 {
    margin-left: 20px;
    position: relative;
  }
}

.contenedor-main_img {
  top: -33px;
  width: 60%;
  height: 100vh;
  padding: 1rem 2.5rem 1rem 2.5rem;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  .main-img1 {
    @include m.foto-inicio(1.5rem, 200px, 100%, bottom);
    background-image: url(../../../img/inicio-foto-solo.png);
  }
  .main-img2 {
    @include m.foto-inicio(1.5rem, 200px, 100%, top);
    background-image: url(../../../img/inicio-texto-foto.svg);
  }
  @include m.tablet {
    width: 70%;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;

    .main-img1 {
      @include m.foto-inicio(1.5rem, 230px, 100%, right center);
    }
    .main-img2 {
      @include m.foto-inicio(1.5rem, 230px, 100%, left center);
    }
  }
  @include m.desktop {
    top: 0;
  }
  @include m.desktopXL {
    width: 50%;
    top: 0;
  }
}

.contenedor-habilidades {
  width: 100%;
  height: auto;
  display: flex; //quede aqui
  justify-content: space-between;
}

.habilidades-logos {
  width: 25%;
  display: flex;
  flex-direction: row;
  .habilidades-iconos {
    width: 25px;
    justify-content: space-between;
    img {
      margin-right: 10px;
    }
  }
  .habilidades-progress {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    .circulo-progress {
      width: 25px;
      height: 25px;
      border-radius: 50%;
      margin: auto;
      background-color: v.$rojo;
      background: linear-gradient(0deg, v.$rojo 50%, rgba(v.$negro, 0.2) 50%);
      position: relative;
      &:before {
        content: "";
        width: 25px;
        height: 25px;
        position: absolute;
        top: 0;
        left: 0;
        background: v.$negro content-box;
        border-radius: 50%;
        padding: 0.5rem;
        box-sizing: border-box;
      }
    }
  }
}

.habilidades-texto {
  p {
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5;
  }
}
