@use "base/variables" as v;
@use "base/mixins" as m;
.contenedor-main {
  width: 90%;
  padding: 3rem;
  position: relative;
  top: -35px;
  margin: 2rem;
  max-height: 90%;
  background-color: v.$negro-opaco;
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
  border-radius: 10px;
  color: v.$blanco;
  padding: 2.5rem;
  .contenedor-main_interno {
    display: flex;
    flex-direction: column;
  }
  p {
    margin: 0;
    font-size: 1.7rem;
    font-weight: 500;
  }
  h2 {
    font-size: 2.8rem;
    padding: 3px;
  }
  @include m.tablet {
    top: 0;
    width: 65%;
    display: block;
    padding: 3.2rem;
    p {
      font-size: 2rem;
      text-transform: uppercase;
      line-height: 1.5;
    }
  }
  @include m.desktop {
    p {
      font-size: 2.1rem;
      text-transform: uppercase;
    }
  }
  @include m.desktopXL {
    padding: 4rem;
    p {
      font-size: 2.6rem;
      text-transform: uppercase;
    }
  }
}

.perfil {
  display: flex;
  img {
    position: relative;
    margin-top: 5px;
    width: 35px;
    height: 35px;
  }
  h2 {
    margin-left: 20px;
    position: relative;
  }
}

.contenedor-main_img {
  top: -33px;
  width: 60%;
  height: 100vh;
  padding: 1rem 2.5rem 1rem 2.5rem;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  .main-img1 {
    @include m.foto-inicio(1.5rem, 200px, 100%, bottom);
    background-image: url("../../img/inicio-foto-solo-.png");
    filter: drop-shadow(0px 10px 15px v.$negro);
  }
  .main-img2 {
    @include m.foto-inicio(1.5rem,
    200px,
    100%,
    top);
    background-image: url("../../img/inicio-texto-foto.svg");
    filter: drop-shadow(0px 10px 15px v.$negro);
  }
  @include m.tablet {
    width: 70%;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    .main-img1 {
      @include m.foto-inicio(1.5rem,
      230px,
      100%,
      right center);
    }
    .main-img2 {
      @include m.foto-inicio(1.5rem,
      230px,
      100%,
      left center);
    }
  }
  @include m.desktop {
    top: 0;
  }
  @include m.desktopXL {
    width: 50%;
    top: 0;
  }
}

//habilidades-------------
.contenedor-habilidades-caja {
  @include m.tablet {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
  }
}

.contenedor-habilidades_uno {
  width: 100%;
  height: auto;
  margin-bottom: 1.6rem;
  @include m.tablet {
    width: 100%;
  }
}

.habilidades-logos {
  display: grid;
  width: auto;
  height: 100%;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-gap: 1rem;
  .habilidades-iconos {
    display: grid;
    width: auto;
    grid-gap: 0.7rem;
    img {
      height: 27px;
    }
  }
  @include m.tablet {
    height: 100%;
    .habilidades-iconos {
      width: auto;
      grid-gap: 0.7rem;
      align-items: center;
      img {
        height: 29px;
      }
    }
    .habilidades-progress {
      .circulo-progress {
        width: 29px;
        height: 29px;
        &:before {
          width: 29px;
          height: 29px;
        }
      }
    }
  }
  @include m.desktop {
    height: 100%;
    .habilidades-iconos {
      width: auto;
      grid-gap: 0.7rem;
      align-items: center;
      img {
        height: 32px;
      }
    }
    .habilidades-progress {
      .circulo-progress {
        width: 32px;
        height: 32px;
        &:before {
          width: 32px;
          height: 32px;
        }
      }
    }
  }
}

@keyframes load {
  0% {
    stroke-dashoffset: 0
  }
}

.habilidades-progress {
  display: grid;
  .progress-container {
    position: relative;
    display: grid;
    justify-content: space-between;
    grid-gap: 0.7rem;
    .contenedor-textProgress {
      display: block;
      .text-progress {
        height: 3rem;
        width: 3rem;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        color: v.$blanco;
        font-weight: 500;
        &:after {
          content: attr(data-percent);
          position: absolute;
          font-size: 1rem;
          align-items: center;
        }
      }
      svg {
        width: 3rem;
        height: 3rem;
        &:nth-child(2) {
          stroke: v.$rojo;
          position: relative;
          left: 0;
          top: 0;
          transform: rotate(-90deg);
        }
        &:nth-child(2) path {
          fill: none;
          stroke-width: 25;
          stroke-dasharray: 629;
          opacity: .9;
          animation: load 4s;
        }
      }
    }
  }
}

.contenedor-habilidades_dos {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  margin-bottom: 1.2rem;
  grid-gap: 1rem;
  .habilidades-texto {
    p {
      font-size: 1.6rem;
      font-weight: 500;
      line-height: 2rem;
    }
  }
  .skills-barra {
    height: 100%;
    display: grid;
    align-items: center;
    .progress {
      background-color: v.$blanco;
      width: 100%;
      height: 4px;
      border-radius: 2px;
    }
  }
  @include m.tablet {
    width: 100%;
    .habilidades-texto {
      align-items: center;
      p {
        font-size: 1.4rem;
        line-height: 3rem;
      }
    }
  }
  @include m.desktop {
    .habilidades-texto {
      p {
        font-size: 2rem;
        line-height: 3rem;
      }
    }
  }
}