@use 'base/variables' as v;
@use 'base/mixins' as m;
.contenedor-saludo {
  display: none;
  @include m.tablet {
    display: flex;
    justify-content: center;
    width: 30%;
    height: 100vh;
    color: v.$blanco;
    overflow: hidden;
    .contenedor-saludo_texto {
      overflow: hidden;
      display: inline-block;
      height: fit-content;
      transform: translateX(-4427.3px);
      height: max-content;
      width: 100px;
      padding: 25px 0 25px 0;
      background-color: v.$negro-opaco;
      backdrop-filter: blur(7px);
      writing-mode: vertical-lr;
      transform: rotate(180deg);
      font-size: 70px;
      font-weight: 600;
      p {
        height: 100%;
        display: block;
        position: relative;
        margin: 0;
        animation-duration: 80s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        animation-name: holaTexto;
        @keyframes holaTexto {
          0% {
            top: 81.5%;
          }
          100% {
            top: 0%;
          }
        }
        span {
          color: v.$rojo;
        }
      }
    }
  }
}